<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlowersCart</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='images/logo.jpeg')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
</head>
<body>
    <div class="navbar">
        <div><a href="{{'home'}}">Home</a></div>
        <div><a href="#">Shopping</a></div>
        <div><a href="{{'contactus'}}">Contact Us</a></div>
        <div><a href="{{'gatherenquirydata'}}">Enquiry Details</a></div>
        <div><a href="{{'aboutus'}}">About Us</a></div>
        <div><a href="{{'login'}}"" target="_self">Login</a></div>
        <div class="signup"><a href="{{'signup'}}">Sign Up</a></div>
    </div>
    <h1 class="myhead">Welcome to Flowers cart</h1><br>
    <p class="para">SCROLL DOWN TO KNOW ABOUT FLOWERS WE HAVE BEFORE YOU BUY</p><br>
    <div class="container">
        <div class="photo">
            <img src="{{url_for('static',filename='images/rose.jpg')}}" alt="Roses">
        </div>
        <div class="content">
            <h1>Roses</h1>
            <p>
                rose, (genus Rosa), genus of some 100 species of perennial 
                shrubs in the rose family (Rosaceae). Roses are native primarily
                 to the temperate regions of the Northern Hemisphere. Many roses 
                 are cultivated for their beautiful flowers, which range in colour 
                 from white through various tones of yellow and pink to dark crimson
                  and maroon, and most have a delightful fragrance, which varies 
                  according to the variety and to climatic conditions.
            </p>
        </div>
    </div>
    <div class="container1">
        <div class="content1">
            <h1>Sunflower</h1>
            <p>
                rose, (genus Rosa), genus of some 100 species of perennial 
                shrubs in the rose family (Rosaceae). Roses are native primarily
                 to the temperate regions of the Northern Hemisphere. Many roses 
                 are cultivated for their beautiful flowers, which range in colour 
                 from white through various tones of yellow and pink to dark crimson
                  and maroon, and most have a delightful fragrance, which varies 
                  according to the variety and to climatic conditions.
            </p>
        </div>
        <div class="photo1">
            <img src="{{url_for('static',filename='images/sunflower.jpg')}}" alt="Sunflower">
        </div>
    </div>
    <div class="container">
        <div class="photo">
            <img src="{{url_for('static',filename='images/tulip.jpg')}}" alt="Tulips">
        </div>
        <div class="content">
            <h1>Tulips</h1>
            <p>
                rose, (genus Rosa), genus of some 100 species of perennial 
                shrubs in the rose family (Rosaceae). Roses are native primarily
                 to the temperate regions of the Northern Hemisphere. Many roses 
                 are cultivated for their beautiful flowers, which range in colour 
                 from white through various tones of yellow and pink to dark crimson
                  and maroon, and most have a delightful fragrance, which varies 
                  according to the variety and to climatic conditions.
            </p>
        </div>
    </div>
    <div class="container1">
        <div class="content1">
            <h1>Lotus</h1>
            <p>
                rose, (genus Rosa), genus of some 100 species of perennial 
                shrubs in the rose family (Rosaceae). Roses are native primarily
                 to the temperate regions of the Northern Hemisphere. Many roses 
                 are cultivated for their beautiful flowers, which range in colour 
                 from white through various tones of yellow and pink to dark crimson
                  and maroon, and most have a delightful fragrance, which varies 
                  according to the variety and to climatic conditions.
            </p>
        </div>
        <div class="photo1">
            <img src="{{url_for('static',filename='images/lotus.jpg')}}" alt="Lotus">
        </div>
    </div>
    <div class="container">
        <div class="photo">
            <img src="{{url_for('static',filename='images/lilly.jpg')}}" alt="Lilly">
        </div>
        <div class="content">
            <h1>Lilly</h1>
            <p>
                rose, (genus Rosa), genus of some 100 species of perennial 
                shrubs in the rose family (Rosaceae). Roses are native primarily
                 to the temperate regions of the Northern Hemisphere. Many roses 
                 are cultivated for their beautiful flowers, which range in colour 
                 from white through various tones of yellow and pink to dark crimson
                  and maroon, and most have a delightful fragrance, which varies 
                  according to the variety and to climatic conditions.
            </p>
        </div>
    </div>
    <div class="container1">
        <div class="content1">
            <h1>Hibiscus</h1>
            <p>
                rose, (genus Rosa), genus of some 100 species of perennial 
                shrubs in the rose family (Rosaceae). Roses are native primarily
                 to the temperate regions of the Northern Hemisphere. Many roses 
                 are cultivated for their beautiful flowers, which range in colour 
                 from white through various tones of yellow and pink to dark crimson
                  and maroon, and most have a delightful fragrance, which varies 
                  according to the variety and to climatic conditions.
            </p>
        </div>
        <div class="photo1">
            <img src="{{url_for('static',filename='images/hibiscus.jpg')}}" alt="Hibiscus">
        </div>
    </div>
    <div class="container">
        <div class="photo">
            <img src="{{url_for('static',filename='images/marigold.jpg')}}" alt="Marigold">
        </div>
        <div class="content">
            <h1>Marigold</h1>
            <p>
                rose, (genus Rosa), genus of some 100 species of perennial 
                shrubs in the rose family (Rosaceae). Roses are native primarily
                 to the temperate regions of the Northern Hemisphere. Many roses 
                 are cultivated for their beautiful flowers, which range in colour 
                 from white through various tones of yellow and pink to dark crimson
                  and maroon, and most have a delightful fragrance, which varies 
                  according to the variety and to climatic conditions.
            </p>
        </div>
    </div>
    <div class="container1">
        <div class="content1">
            <h1>Artichoke</h1>
            <p>
                rose, (genus Rosa), genus of some 100 species of perennial 
                shrubs in the rose family (Rosaceae). Roses are native primarily
                 to the temperate regions of the Northern Hemisphere. Many roses 
                 are cultivated for their beautiful flowers, which range in colour 
                 from white through various tones of yellow and pink to dark crimson
                  and maroon, and most have a delightful fragrance, which varies 
                  according to the variety and to climatic conditions.
            </p>
        </div>
        <div class="photo1">
            <img src="{{url_for('static',filename='images/artichoke.jpg')}}" alt="Artichoke">
        </div>
    </div>
    <div class="container">
        <div class="photo">
            <img src="{{url_for('static',filename='images/bluebell.jpg')}}" alt="Bluebell">
        </div>
        <div class="content">
            <h1>Bluebell</h1>
            <p>
                rose, (genus Rosa), genus of some 100 species of perennial 
                shrubs in the rose family (Rosaceae). Roses are native primarily
                 to the temperate regions of the Northern Hemisphere. Many roses 
                 are cultivated for their beautiful flowers, which range in colour 
                 from white through various tones of yellow and pink to dark crimson
                  and maroon, and most have a delightful fragrance, which varies 
                  according to the variety and to climatic conditions.
            </p>
        </div>
    </div><br><br>
    <div><h1 align="center" style="background-color: gainsboro;">Grid of Flowers we have</h1></div><br>
    <div class="parentgrid">
        <div class="p1"><p><img src="{{url_for('static',filename='images/f1.jpeg')}}"></p></div>
        <div><p><img src="{{url_for('static',filename='images/f2.jpeg')}}"></p></div>
        <div><p><img src="{{url_for('static',filename='images/f3.jpeg')}}"></p></div>
        <div><p><img src="{{url_for('static',filename='images/f4.jpeg')}}"></p></div>
        <div><p><img src="{{url_for('static',filename='images/f5.jpeg')}}"></p></div>
        <div><p><img src="{{url_for('static',filename='images/f6.jpeg')}}"></p></div>
        <div><p><img src="{{url_for('static',filename='images/f7.jpeg')}}"></p></div>
        <div><p><img src="{{url_for('static',filename='images/f8.jpeg')}}"></p></div>
        <div><p><img src="{{url_for('static',filename='images/f9.jpeg')}}"></p></div>
    </div>
    <br>
    <h6 align="center" style="background-color: gainsboro;">&copy;copyrights reserved</h6>
</body>
</html>